.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;

  .carousel {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: auto;
  }

  .video {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: auto;
    background-color: var(--color-fill-2);

    :global {
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .tag {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 8px;
    top: 8px;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    z-index: auto;

    :global {
      .arco-tag-icon {
        display: flex;
        align-items: center;
      }
    }
  }

  .responsiveBox {
    display: contents;
    width: 100%;
    height: 100%;

    .loading {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      z-index: 2;
    }
  }
}
