.batch-tools-modal-button-close {
  display: flex;
  align-items: center;

  &:hover {
    background-color: transparent !important;
    color: #fff !important;
  }

  &.arco-btn-secondary {
    height: 22px;
    padding: 0 2px;

    &:not(.arco-btn-disabled) {
      background-color: transparent;
    }

    &.arco-btn-size-small > svg + span,
    &.arco-btn-size-small > span + svg {
      margin-left: 4px;
    }
  }
}
