cmake
fairscale>=0.4.4
git+https://github.com/ltdrdata/img2texture.git
git+https://github.com/ltdrdata/cstr
gitpython
imageio
joblib
matplotlib
numba>=0.62
numpy
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/ltdrdata/ffmpy.git
rembg
scikit-image>=0.20.0
scikit-learn
scipy
timm>=0.4.12
tqdm
transformers
