.creator-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(---color-border-2, #484849);

  &-left {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    color: var(---color-text-1, rgba(255, 255, 255, 0.9));
    text-overflow: ellipsis;

    /* 14/CN-Regular */
    font-family: 'PingFang SC';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    cursor: pointer;
  }

  &-center {
    padding: 0 24px;
    flex: 1;
    justify-content: center;
    text-align: center;
  }

  &-right {
    flex-shrink: 0;
  }
}
